footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}
.footer {
    background: white;
    height: 97px;
    margin: auto;
    width: 1113px;
    border-top: 1px solid lightslategray;
    font-family: helvetica;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: grey;
    font-weight: lighter;
    .footer-space {
    }
    .footer-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-left {
        width: 500px;
        display: flex;
        justify-content: space-between;
        }
    .footer-center-left {
        }
    .footer-right {
        }

}
