footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}
.footer {
    background: white;
    height: 97px;
    margin: auto;
    width: 1113px;
    border-top: 1px solid lightslategray;
    font-family: helvetica;
    display: flex;
    justify-content: space-between;
    color: greenyellow;
    .footer-space {
        }
    .footer-left {
        }
    .footer-center-left {
        }
    .footer-right {
        }

}