footer{
    background-color: white;
}
.pre-footer {
    border-top: 1px solid #ebebeb;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    color: white;
    
}
.footer {
    background: white;
    height: 97px;
    margin: auto;
    width: 1113px;
    border-top: 1px solid #ebebeb;
    font-family: helvetica;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color: grey;
    .footer-text {
        font-size: 12px;
        font-weight: 300;
    }
    .footer-text-small {
        font-size: 10px;
        font-weight: 300;
    }
    .footer-space {
    }
    .footer-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-left {
        width: 500px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        }
    .footer-left-container {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
    }
    .footer-icons {
        
        width: 52%;
        font-size: 36px;
        font-weight: 400;
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    i {
        cursor: pointer;
    }
    .footer-center-left {
        align-items: flex-end;
    }
    .about-me-link {
        font-size: 18px;
        display: flex;
        text-decoration: none;
    }
    .footer-right {
        width: 190px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

}
