.listing-show-main {
    font-family: helvetica;
    margin-top: 72px;
    background-color: white;
}
.show-image {
    width: 100%;
    height: 480px;
    // border: 10px solid white;
}
.show-properties {
    background-color: white;
    margin: 0 auto;
    width: 85%;
    max-width: 1281px;
    // max-width: 701px;
    // min-width: 271px;
    display: flex;
    justify-content: center;
}
.show-properties-right{
    // max-width: 701px;
    // width: 55%;
    width: 55%;
    margin-top: 10px;
}
.show-title {
    margin-top: 8px;
    font-family: helvetica;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 17px;
}
.description-container {
    border-top: 1px solid lightgray;
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
}
.description-host {
    width: 20%;
    display: flex;
}
.show-description {
    display: flex;
    width: 70%;
    font-family: helvetica;
    font-size: 15px;
    font-weight: lighter;
    
}
.attributes-container {
    padding-top: 27px;
    margin-top: 27px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.lodging {
    width: 32%;
    min-width: 180px;
    max-width: 180px;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 5px 1px rgba(230, 227, 227, 0.5);
    height: 342px;
    font-size: 20px;
    margin-bottom: 27px;
    margin-right: 18px;
    padding: 20px;
}
.lodging-title {
    margin-bottom: 20px;
}
.lodging li {
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;

}

.essentials {
    width: 32%;
    min-width: 180px;
    max-width: 180px;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 5px 1px rgba(230, 227, 227, 0.5);
    height: 342px;
    font-size: 20px;
    margin-bottom: 27px;
    margin-right: 18px;
    padding: 20px;
}
.essentials-title {
    margin-bottom: 20px;
}
.essentials li {
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;

}

.amenities {
    width: 32%;
    min-width: 180px;
    max-width: 180px;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 5px 1px rgba(230, 227, 227, 0.5);
    height: 342px;
    font-size: 20px;
    margin-bottom: 27px;
    padding: 20px;
}
.amenities-title {
    margin-bottom: 20px;
}
.amenities li {
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;

}

.details-container {
    padding-top: 27px;
    height: 100px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.activities-container {
    padding-top: 27px;
    margin-top: 27px;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activities-title {
    font-size: 16px;
    margin-bottom: 15px;
}
.activities-subtitle {
    font-size: 16px;
    color: gray;
    font-weight: lighter;
}
.activities-ul-container {
    display: flex;
    flex-direction: column;
}
.activities-container li {
    margin-top: 30px;
    width: 110px;
    text-align: center;
    margin-right: 15px;
    font-size: 14px;
}
.activities-list {
    display: flex;
    flex-direction: row;
}
.activities-container li i {
    border: 1px solid lightgray;
    font-size: 30px;
    margin: 0 auto;
    padding: 33px;
    margin-bottom: 8px;
}

.terrains-container {
    padding-top: 27px;
    margin-top: 27px;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.terrains-title {
    font-size: 16px;
    margin-bottom: 15px;
}
.terrains-subtitle {
    font-size: 16px;
    color: gray;
    font-weight: lighter;
}
.terrains-ul-container {
    display: flex;
    flex-direction: column;
}
.terrains-container li {
    margin-top: 30px;
    width: 110px;
    text-align: center;
    margin-right: 15px;
    font-size: 14px;
}
.terrains-list {
    display: flex;
    flex-direction: row;
}
.terrains-container li i {
    border: 1px solid lightgray;
    font-size: 30px;
    margin: 0 auto;
    padding: 33px;
    margin-bottom: 8px;
}


.vibe-container {
    padding-top: 27px;
    margin-top: 27px;
    margin-bottom: 27px;
    height: 100px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.aside-container {
    position: sticky;
    width: 320px;
    height: 220px;
    top: 224px;
    right: 200px;
    z-index: 20;
    margin-left: 40px;

}
.cost-container { 
    font-size: 32px;
    color: black;
    position: relative;
    border: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 1px rgba(230, 227, 227, 0.5);
    top: -48px;
    width: 320px;
    height: 220px;
    // height: 33%;
    // width: 100%;
    border-bottom: 1px solid lightgray;
}
.cost {
    padding-left: 10px;
    padding-top: 16px;
    font-family: helvetica;
    font-size: 24px;
    font-weight: 600;
}
.per-night {
    padding-left: 10px;
    padding-top: 4px;
    color: grey;
    font-family: helvetica;
    font-size: 15px;
    font-weight: lighter;
}

.map-container {
    width: 100%;
    height: 389px;
    float: left;
    position: relative;
    margin-top: 30px;
}