.index-main {
    background-color: white;
    dipslay: flex;
}

.index-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.top-content {
    // margin-top: 27px;
    max-width: 1070px;
    width: 100%;
    display:flex;
    margin: 0 auto;
    font-family: helvetica;
    background: #ffffff;
    flex-direction: column;
    .sub-header-one {
        padding-left: 10px;
        margin-top: 140px;
        width: 100%;
        font-size: 40px;
        font-weight: 600;
        color: #333333;
    }
    .sub-header-two {
        padding-left: 10px;
        margin-top: 27px;
        width:475px;
        font-size: 20px;
        font-weight: 200;
        line-height: 28px;
        color: #333333;
        margin-bottom: 30px;
    }
    .sub-header-number {
     font-weight: bold;
    }
}

.index-container {
    background-color: white;
    margin: 0 auto;
    // width: 85%;
    max-width: 1080px;
    
}
.search-container {
    margin-left: 0px;
    font-family: helvetica;
    color: #333333;
    border: 1px solid #ebebeb;
    // height: 103px;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px 2px rgba(230, 227, 227, 0.5);
    max-width: 1060px;
    flex-wrap: wrap;
}

.search-bar-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px;
    width: 1060px;
}

.search-bar-container {
    // width: 60%;
    // max-width: 551px;
    // // display: flex;
    // margin-bottom: 16px;
    // margin-top: 16px;
    height: 200px;
    background-color: blueviolet;
    margin-top: 70px;
    display: flex;

}
.search-bar-render {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.top-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-container {
    display: flex;
    flex-direction: row;
}
.search-bar-box {
    border: 1px solid #ebebeb;
    height: 66px;
    min-width: 402px;
    max-width: 555px;
    width: 100%;
    box-shadow: 0px 3px 5px 1px rgba(230, 227, 227, 0.5);
    display: flex;
    justify-content: space-between;
    // background-color: blueviolet;
    margin: 17px;
    margin-right: 0px;
    align-items: center;
} 
.search-bar-left {
    display: flex;
    align-items: center;
}
.search-text {
    margin-left: 10px;
    font-weight: lighter;
}
.search-bar-box i {
    font-size: 20px;
    margin-left: 20px;
}
.search-bar-input {
    margin-left: 10px;
    border: none;
    font-size: 18px;
    font-weight: lighter;
    outline: none;
    width: 100%
}
.clear {
    margin-right: 20px;
}

.search-right {
    margin-left: 10px;
    margin-right: 17px;
    display: flex;
    justify-content: space-between;
}
.dates-container {
    margin-right: 10px;
    border: 1px solid #ebebeb;
    height: 66px;
    width: 145px;
    box-shadow: 0px 3px 5px 1px rgba(230, 227, 227, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.dates-container i {
    font-size: 18px;
    margin-left: 15px;
}
.dates-text {
    margin-right: 15px;
    font-weight: lighter;
    font-size: 16px;
}
.category-container {
    margin-right: 10px;
    border: 1px solid #ebebeb;
    height: 66px;
    width :180px;
    box-shadow: 0px 3px 5px 1px rgba(230, 227, 227, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.category-container i {
    font-size: 16px;
    margin-left: 13px;
    margin-right: 13px;
}
.category-text {
    // margin-right: 6px;
    font-weight: lighter;
    font-size: 16px;
}

.search-button-container {
    // color: white;
    // background-color: rgb(49, 228, 168);
}
.search {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align: center;
    border-radius: 3px;
    height: 66px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 228, 168);
    color: white;
    border: none;
    // font-weight: lighter;
    font-size: 16px;
    outline: none;
}
.search:hover {
    border: 3px solid rgb(49, 228, 168);
    background-color: white;
    color: rgb(49, 228, 168);
}
.index-title {
    font-family: helvetica;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    margin-left: 6px;
}
.index-items-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    max-width: 1080px;
    // margin-right: -13px;
    // height: 100%;
}
.listing-index-item {
    margin: 11px;
    border: 1px solid #ebebeb;
    margin-top: 25px;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    background-color: white;
    cursor: pointer;
    max-height: 420px;
    // min-height: 327px;
    max-width: 382px;
    // min-width: 308px;
    width: 30%;
    // overflow: hidden;
    border-radius: 5px;
    // height: 100%;
    // 340 x 419
}
.listing-index-item:hover {
    cursor: pointer;
}
.listing-index-item:hover .thumbnail-title {
    text-decoration: underline;
    text-decoration-skip: spaces;
}
.thumbnail {
    display: flex;
    width: 100%;
    background-color: white;
    // width: 340px;
    // height: 100%;
}
.thumbnail-text {
    margin-top: 20px;
    margin-left: 15px;
    font-family: helvetica;
    display:flex;
    flex-direction: column;
    height: 20%;
}
.thumbnail-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333333;
}
.thumbnail-subtitle {
    color: #757575;
    font-size: 15px;
    margin-bottom: 20px;

}
