.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .modal-child {
    width: 330px;
    margin: 0 auto;
    margin-top: 31px;
    background: white;
    .modal-content{
        background: white;
        button {
            width: 100%;
        }  
        input {
            box-sizing: border-box;
            width: 100%;
            padding: 26px;
            border: 1px solid black;
            margin-top: 5px;
            margin-bottom: 5px;
        }  
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;

        }
    }
    .modal-body {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .login-form {
            font-family: helvetica;
            height: 505px;
            background: white;
            .login-greet {
                width: 300px;
                height: 60px;
                text-align: center;
                .welcome-title {
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
                .welcome-subtitle {
                    font-weight: lighter;
                    color: grey;
                }
            }
            .facebook-button {
                border: none;
                font-size: 15px;
                font-weight: bold;
                color: white;
                background-color: rgb(65, 90, 148);
                padding: 26px;
                margin-bottom: 10px;
            }
            .or-style {
                // display: flex;
                // justify-content: space-around;
            }
            // .or-line{
            //     height: 1px;
            //     border-style: inset;
            // }
            .or {
                width: 41px;
                margin: 0 auto;
                background-color: white;
                margin-top: -18px;
                font-size: 15px;
                font-weight: lighter;
                color: grey;

            }
            .username-input {
                margin-top: 15px;
            }
            .password-question {
                margin-top: 13px;
                text-align: right;
                font-size: 12px;
                color: grey;
                font-weight: lighter;
            }
            .log-in-button {
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                color: white;
                background-color: rgb(49, 228, 168);
                border: none;
                font-size: 15px;
                font-weight: bold;
                margin-top: -5px;
            }
            .log-in-button:hover {
                // border: 3px solid rgb(49, 228, 168);
                color: white;
                background-color: rgb(94, 199, 159);
            }
            .modal-footer {
                margin-top: 25px;
                font-weight: lighter;
                text-align: center;
                font-size: 13px;
                // margin-bottom: 15px;
            }
        }
        .footer-link {
            color: black;
            text-decoration: none;
            font-weight: 600;
        }
        .signup-form {
            // height: 956px;
            height: 550px;
            background: lightseagreen;
            font-family: helvetica;
            .signup-greet {
                width: 300px;
                height: 60px;
                text-align: center; 
                .signup-welcome {
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
                .signup-welcome-subtitle {
                    font-size: 15px;
                    font-weight: lighter;
                    color: grey;
                }
            }
            .name-inputs {
                display: flex;
                width: 100%;
                box-sizing: border-box;

                .f-name-input {
                    width: 35%;
                }
                .l-name-input {
                    width: 35%;

                }
            } 
            .log-in-button {
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                color: white;
                background-color: rgb(49, 228, 168);
                border: none;
                font-size: 15px;
                font-weight: bold;
            }
            .log-in-button:hover {
                border: 3px solid rgb(49, 228, 168);
                color: rgb(49, 228, 168);
            }

            .modal-signup-footer {
                padding:15px;
                text-align: center;
            }
        }

    }
}
