
.noErrors {
    visibility: hidden;
}

.presentErrors{
    background-color: red;
    position: fixed;
    bottom: 30px;
    left: 30px;
    color: white;
    z-index: 100;
    padding: 10px 22px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
}
.modal-background {
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
}
  .modal-child {
    width: 330px;
    margin: 0 auto;
    margin-top: 31px;
    background: white;
    box-shadow: 1px 1px 9px 7px rgb(230, 227, 227);
    .modal-content{
        background: white;
        button {
            width: 100%;
        }  
        input {
            box-sizing: border-box;
            width: 100%;
            padding: 25px;
            padding-top: 25px;
            border: 1px solid black;
            margin-top: 5px;
            margin-bottom: 4px;
            font-size: 15px;
            font-weight: 600;
            color: black;
        }  
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;

        }
    }
    .modal-body {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .modal-form {
            font-family: helvetica;
            background: white;
            .form-greet {
                width: 300px;
                height: 60px;
                text-align: center;
                .form-welcome {
                    font-size: 21px;
                    font-weight: bold;
                    // margin-top: 15px;
                    margin-bottom: 10px;
                    padding-top: 13px;
                }
                .form-welcome-subtitle {
                    font-weight: lighter;
                    color: grey;
                    font-size: 14px;
                }
            }
            .facebook-button {
                border: none;
                font-size: 15px;
                font-weight: bold;
                color: white;
                background-color: rgb(65, 90, 148);
                padding: 26px;
                margin-bottom: 10px;
                margin-top: 13px;
            }
            .or {
                width: 41px;
                margin: 0 auto;
                background-color: white;
                margin-top: -18px;
                font-size: 15px;
                font-weight: lighter;
                color: grey;

            }
            .username-input {
                margin-top: 15px;
            }
            .form-question-login {
                margin-top: 13px;
                text-align: right;
                font-size: 12px;
                color: grey;
                font-weight: lighter;
            }
            .placeholder-box {
                width: 11px;
                height: 11px;
                display: inline-block;
                border: 1px solid black;
            }
            .form-question-signup {
                margin-top: 10px;
                margin-bottom: 26px;
                text-align: left;
                font-size: 12px;
                color: black;
                font-weight: lighter;
            }
            .submit-button-style {
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                color: white;
                background-color: rgb(49, 228, 168);
                border: none;
                font-size: 15px;
                font-weight: bold;
                margin-top: -5px;
            }
            .submit-button-style:hover {
                // border: 3px solid rgb(49, 228, 168);
                color: white;
                background-color: rgb(94, 199, 159);
            }
            .demo-user-login {
                background-color: rgb(65, 90, 148);
                color: white;
            }
            .privacy-policy-agreement {
                margin-top: 14px;
                padding: 0px 40px;
                font-size: 12px;
                font-weight: lighter;
            }
            .privacy-policy-agreement-2 {
                margin-top: 9px;
                padding: 0px 40px;
                font-size: 12px;
                font-weight: lighter;
                margin-bottom: 20px;
            }
            .modal-footer {
                margin-top: 30px;
                font-weight: lighter;
                text-align: center;
                font-size: 13px;
                // margin-bottom: 15px;
            }
        }
        .footer-link {
            color: black;
            text-decoration: none;
            font-weight: 600;
        }
        .signup-form {
            background: white;
            font-family: helvetica;
            // padding: 15px 0;
        }
        .name-inputs {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            justify-content: space-between;
            margin-top: 23px;
            .f-name-input {
                width: 145px;
            }
            .l-name-input {
                width: 145px;

            }
        } 

    }
}
