.nav {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    .left {
        .logo {
                font-size: 27px;
                padding: 29px;
                font-family: helvetica;
                font-weight: bold;
                color: black;
                text-decoration: none;
        }
    }
    .right {
        display: flex;
        width: 551px;
        margin-right: 5px;
        justify-content: space-between;
        align-items: center;
        .menu {
            visibility: hidden;
            padding-left: 40px;
            padding-right: 6px;
            width: 387px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                // padding: 0px 6px;
                justify-content: space-around;
                font-family: helvetica;
                font-weight: lighter;
                font-size: 15px;
            }
        }

        .splash-nav-container {
            .splash-nav-container-buttons {
                padding: 0px 5px 0px 5px;
                width: 163px;
                display:flex;
                align-items: center;
                justify-content: space-between;
                .log-in-button {
                    padding: 0px 0px 0px 0px;
                    border: none;
                    font-size: 15px;
                    margin-right: 5px;
                }
                .log-in-button:hover {
                    margin-top: 4px;
                    padding-bottom: 2px;
                    border-bottom: 3px solid rgb(49, 228, 168);
                    

                    
                }   
                .sign-up-button {
                    -webkit-transition-duration: 0.4s;
                    transition-duration: 0.4s;
                    border: 3px solid rgb(49, 228, 168);
                    color: rgb(49, 228, 168);
                    background-color: white;
                    font-size: 16px;
                    padding: 10px;
                    margin-right: 0px;

                }
                .sign-up-button:hover {
                    color: white;
                    background-color: rgb(49, 228, 168);   
                    border: 3px solid rgb(94, 199, 159);    
                }
            }
        }
    }
}
.logged-in-dropdown-button {
    // padding: 0px 5px 0px 5px;
    // -webkit-transition-duration: 0.4s;
    // transition-duration: 0.4s;
    // border: 3px solid rgb(49, 228, 168);
    // color: rgb(49, 228, 168);
    // background-color: white;
    // font-size: 16px;
    // padding: 10px;
    // margin-right: 14px;
    border-radius: 50%;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    margin-right: 40px;
    cursor: pointer;
}
.logged-in-dropdown-button:hover {
    // color: white;
    // background-color: rgb(49, 228, 168);
    // color: black;
    // background-color: white;
    // border: 1px solid black;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    // display: absolute;
    // left: 0;
  }
  .dropdown-menu a:hover {
      background-color: rgb(255, 255, 255)
    }
  .dropdown:hover .dropdown-menu {
    top: 60px;
    width: 275px;
    border: 1px solid lightgray;
    border-right: none;
    background-color: white;
    display: block;
    right: -5px;
  }
//   .dropdown:hover .hover-spacer {
//     position: relative;
//     right: -190px;
//     top: 0px;
//     background-color: purple;
//     border-left: 10px solid transparent;
//     border-right: 10px solid transparent;
//     border-bottom: 10px solid saddlebrown;
//   }
  .dropdown:hover .dropdown-arrow {
    position: relative;
    right: -190px;
    top: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    background-color: transparent;
  }
  .dropdown:hover .dropdown-list-items {
    text-align: center;
    background-color: yellowgreen;
    border: 1px solid yellow;
  }
  .logout-button {
    font-family: helvetica;
    font-size: 15px;
  }
  .logout-button:hover{
      margin-left: 10px;
  }
  .dropdown:hover .logged-in-dropdown-button {
//   background-color: black;
//   color: white;
}