.user-show-container {
    margin-top: 70px;
    background-color: chartreuse;
    height: 200px;
}

.user-profile {
    background-color: cornflowerblue;
}

.user-username {
    background-color: crimson;
}

.user-bookings {
    background-color: darkgreen;
}